@model IEnumerable<teamcanada.Models.ui.ReportsUI>

@{
    ViewBag.Title = "Index";
}

<h2>Filtered Report: Campaign contributions $500 or under.</h2>

<p>
   This report displays the total contribtions up to a value of $500 made to candidates for the 2006 Council Elections.
</p>
<table class="sample">
    <tr class="d0">
        <th>
            @Html.DisplayNameFor(model => model.ElectionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectionYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WardNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CandidateFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CandidateLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="d1">
        <td>
            @Html.DisplayFor(modelItem => item.ElectionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectionYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WardNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CandidateFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CandidateLastName)
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.Amount)
        </td>

        </tr>
}

</table>
