@model IEnumerable<teamcanada.Models.ui.Report2UI>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ElectionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectionYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CandidateFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CandidateLastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ElectionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectionYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CandidateFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CandidateLastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
