@model teamcanada.Models.ui.ReportsUI

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ReportsUI</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.ElectionType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ElectionType)
            @Html.ValidationMessageFor(model => model.ElectionType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ElectionYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ElectionYear)
            @Html.ValidationMessageFor(model => model.ElectionYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumVotes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumVotes)
            @Html.ValidationMessageFor(model => model.NumVotes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WardNum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WardNum)
            @Html.ValidationMessageFor(model => model.WardNum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CandidateFirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CandidateFirstName)
            @Html.ValidationMessageFor(model => model.CandidateFirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CandidateLastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CandidateLastName)
            @Html.ValidationMessageFor(model => model.CandidateLastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContributorLastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContributorLastName)
            @Html.ValidationMessageFor(model => model.ContributorLastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContributorFirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContributorFirstName)
            @Html.ValidationMessageFor(model => model.ContributorFirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContributionTypeDesc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContributionTypeDesc)
            @Html.ValidationMessageFor(model => model.ContributionTypeDesc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TotalAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TotalAmount)
            @Html.ValidationMessageFor(model => model.TotalAmount)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
