@model IEnumerable<teamcanada.Models.ui.ReportsUI>

@{
    ViewBag.Title = "Index";
}

<h2>User Generated Report</h2>

<p>
   This is a user generated report
</p>

<!-- Attempt at displaying total on Report View
<p>
   Total Contribution Amount was: $
   
   Model.newCalc.CalculateTotal()
  
</p>
-->
<table class="sample">
    <tr class="d0">
        <th>
            @Html.DisplayNameFor(model => model.ElectionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectionYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WardNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContributorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContributorLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContributionTypeDesc)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="d1">
        <td>
            @Html.DisplayFor(modelItem => item.ElectionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectionYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WardNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContributorFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContributorLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContributionTypeDesc)
        </td>
        </tr>
}

</table>
