@model teamcanada.Models.Results

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Results</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ElectionType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ElectionType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ElectionYear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ElectionYear)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WardNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WardNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumVotes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumVotes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CandidateLastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CandidateLastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CandidateFirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CandidateFirstName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
