@{
    ViewBag.Title = "Toronto Electoral Reports";
}



@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}    

<h2> Welcome to the Toronto Electoral Database.</h2>
<p>Please select from one of the following reports, or to view all data, use the links along to top menu:</p>

<h3>2006</h3>
 <ul>
                            <li>@Html.ActionLink("Report 1", "Index", "Report1")</li>
                            <li>@Html.ActionLink("Report 2", "Index", "Report2")</li>
                            <li>@Html.ActionLink("Report 3", "Index", "Report3")</li>
                            <li>@Html.ActionLink("Report 4", "Index", "Report4")</li>
                            <li>@Html.ActionLink("Report 5", "Index", "Report5")</li>
</ul>

<h3>2010</h3>
 <ul>
                            <li>@Html.ActionLink("Report 1", "Index", "Report1")</li>
                            <li>@Html.ActionLink("Report 2", "Index", "Report2")</li>
                            <li>@Html.ActionLink("Report 3", "Index", "Report3")</li>
                            <li>@Html.ActionLink("Report 4", "Index", "Report4")</li>
                            <li>@Html.ActionLink("Report 5", "Index", "Report5")</li>
</ul>
